<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorting records</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
</head>
<body>

<div style="padding-left: 20px; padding-top: 10px">
    <h3>Delete employee</h3>
    <a href="home.html" th:href="@{/home}">Home</a>
    <br><br>

    <label>First Name: </label>
    <span th:text="${employee.firstName}"></span>

    <br>
    <label>Last Name: </label>
    <span th:text="${employee.lastName}"></span>

    <br>
    <label>Position: </label>
    <span th:text="${employee.position}"></span>

    <br>
    <label>Separation date: </label>
    <span th:text="${employee.separationDate}"></span>

    <br><br>
    <p style="color: red;">If you want to delete this employee, press the button 'Delete'</p>

    <div>
        <button id="deleteEmployee">Delete</button>
    </div>
    <input hidden="hidden" id="employeeId" th:value="${employee.id}"></input>
    <br>

    <p id="answer">Result will be here..</p>

</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
<script th:src="@{/script.js}"></script>

</body>
</html>